<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Playlist</title>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous"/>

    <link rel="stylesheet" href="../static/remodal/dist/remodal.css" th:href="@{remodal/dist/remodal.css}"/>
    <link rel="stylesheet" href="../static/remodal/dist/remodal-default-theme.css"
          th:href="@{remodal/dist/remodal-default-theme.css}"/>
    <script src="//code.jquery.com/jquery-1.10.2.js"></script>
    <link rel="stylesheet" href="../static/css/styles.css" th:href="@{css/styles.css}"/>

</head>

<body class="mosaic">
<!--<a href="options.html" th:href="@{options}"></a>-->

<div class="container">

    <div class="row">
        <div class="col-sm-4"></div>
        <div class="col-sm-4">
            <h1 class="center-header">Mixed Tape</h1>
            <p class="center-me">We'll reach out and pull music you don't have in your Spotify library right
                now to make a brand spanking new playlist. So you've got a couple options here:</p>
            <!--<p class="center-me">The email option will allow you to invite a friend to our site. Once they've-->
                <!--signed up you'll have access to virtually their whole library.</p>-->
        </div>

        <div class="col-sm-4">

        </div>

    </div>
    <div class="row">
        <div class="col-md-4">
            <div class="center-me">
                <img src="../static/images/friends.png" th:src="@{images/friends.png}" class="circlepic"
                height="200" width="200"/>
            </div>
        </div>
        <div class="col-md-4">
            <div class="center-me">
                <img src="../static/images/spin.gif" th:src="@{images/spin.gif}" style="display: none"/>
                <!--<div class="email-invite">Email Invite</div>-->

                <!--<div>-->
                    <!--<a class="btn btn-primary">Go!</a>-->
                <!--</div>-->
            </div>
        </div>
        <div class="col-md-4">
            <div class="center-me">
                <img src="../static/images/record.png" th:src="@{images/record.png}" class="circlepic"
                     height="200" width="200"/>
            </div>
        </div>

    </div>
    <div class="row">
        <div class="col-sm-4">
            <form class="center-me" method="post" action="/options" th:action="@{options}">
                <p>1. Create a mixed tape playlist from one of your Spotify friends.</p>
                <input type="text" name="uri" id="uri" placeholder="Friend's URI here" th:value="${search}" />
                <a href="#modal">?</a>
                <div>
                    <button href="/options" th:href="@{options}" type="submit" id="search" name="action"
                            value="search" class="btn btn-primary">Go!
                    </button>

                </div>
            </form>

            <div class="remodal-bg">
                <div class="remodal" data-remodal-id="modal">

                    <a data-remodal-action="close" class="remodal-close"></a>
                    <a href="options.html" th:href="@{options}"></a>
                    <div class="modal-container">
                        <div class="center-header">
                            <h1>Instructions</h1>
                            <div class="content">   
                                <p class="center-me">After looking over this you'll
                                    need to click the button  at the bottom to shoot over to your Spotify
                                    page. Clicking the link will open your profile in Spotify if you have it installed.
                                    The instructions listed here aren't  terribly difficult. If you can manage brushing
                                    your teeth on a fairly regular basis, this  should be a cake walk.</p> 
                            </div>
                            <div class="row" align="left">
                                <h2>Step 1:</h2>
                            </div>
                            <div class="row"> 
                                <div class="col-md-9">
                                    <img th:src="@{images/find-user.png}"
                                         src="../static/images/find-user.png" height="100%"
                                         width="100%"/>
                                </div>
                                <div class="col-md-3"> 
                                    <p class="instruction-font">Choose the friend you want to compare  with 
                                        by clicking on their  name.</p> 
                                </div>
                            </div>
                            <div class="row" align="left">
                                <h2>Step 2:</h2>
                            </div>
                            <div class="row"> 
                                <div class="col-md-9">
                                    <img th:src="@{images/copy-uri.png}"
                                         src="../static/images/copy-uri.png"
                                         height="100%" width="100%" />
                                </div>
                                 
                                <div class="col-md-3">  <p class="instruction-font">Copy your friends Uri by
                                    clicking the 3  dots  next to Following  and then clicking Copy Spotify
                                    Uri from the dropdown.</p> 
                                </div>
                                 
                            </div>
                             
                            <div class="row"> 
                                <p class="instruction-font">When you click on the Go to your
                                    profile!  you'll  be directed to your  Spotify home page in a new
                                    window. You'll do all the things you were  just instructed to do to get  get a
                                    copy of your friends Uri. Then flip back to this page to paste  your Uri in
                                    the space provided.  Once pasted, click Go to Spotify and let the fun
                                    begin.</p>
                                 
                            </div>
                            <div class="center-me">   <p>  <a onclick="return doStuff();" href="#">Go to
                                your profile!</a>  </p>   

                            </div>
                             
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <div class="col-sm-4 col-sm-offset-4">

            <form class="center-me" method="post" action="options.html"
                  th:action="@{options}">
                <div class="center-me">
                    <p>2. Create a mixed tape playlist from a featured curator.</p>
                    <select id="user_id" name="uri">
                        <option th:value="${null}">select..</option>
                        <option value="majesticcasualofficial">Majestic Casual</option>
                        <option value="betnetworks">BET Networks </option>
                        <option value="pitchforkmedia">Pitchfork</option>
                        <option value="aquariumdrunkard">Aquarium Drunkard</option>
                        <option value="espnmusic">ESPN Music</option>
                        <option value="teamcoco">Team Coco</option>
                    </select>
                    <div>
                        <button class="btn btn-primary" type="submit" id="featuredSearch" name="featuredAction" value="featuredSearch">Go!</button>
                        <!--<a href="/chooseUrl" th:href="@{chooseUrl}" class="btn btn-primary">Go!</a>-->
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
<script th:inline="javascript">
    function doStuff() {


        setTimeout(function () {
            var currentUser = /*[[${userId}]]*/ 'user';
            window.location.href = "spotify:user:" + currentUser;
        }, 1);

        return false;
    }

</script>
<script>
    var flip = 0;
    $( "button" ).click(function() {
        $( "img" ).toggle( flip++ % 2 === 0 );
    });
</script>
<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>

<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
        integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
        crossorigin="anonymous"></script>

<script src="../static/remodal/dist/remodal.js" th:src="@{remodal/dist/remodal.js}"></script>
</body>
</html>