<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Playlist</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous"/>

    <link rel="stylesheet" href="../static/css/styles.css" th:href="@{css/styles.css}"/>
</head>
<body>
<a href="playlist.html" th:href="@{playlist}"></a>
<div class="mosaic">
    <div class="container">
        <div class="row">
            <div class="col-sm-4"></div>
            <div class="col-sm-4">
                <h1 class="center-me">Mixed Tape</h1>
            </div>
            <div class="col-sm-4"></div>

        </div>
        <div class="row">
            <div class="col-sm-4"></div>
            <div class="col-sm-4">

                <form class="center-me" method="get" action="/client_credentials" th:action="@{client_credentials}">
                    <input type="text" name="id" placeholder="Friend's Uri here"/>
                    <div>
                        <a href="/addUrl" th:href="@{addUrl}" class="btn btn-primary">Go!</a>
                    </div>
                </form>
                <form class="center-me" method="get" action="/client_credentials" th:action="@{client_credentials}">
                    <div class="center-me">
                        <select id="user_id" name="user_id">
                            <option>select..</option>
                            <option th:each="user: ${users}"
                                    th:text="${user.id}"
                                    th:src="${https://api.spotify.com/v1/users/wizzler}">
                            </option>
                        </select>
                        <div>
                            <a href="/chooseUrl" th:href="@{chooseUrl}" class="btn btn-primary">Go!</a>
                        </div>
                    </div>
                </form>
            </div>
            <div class="col-sm-4"></div>
        </div>
        <div class="row">
            <div class="col-sm-4"></div>
            <div class="col-sm-4">

            </div>
            <div class="col-sm-4"></div>
        </div>
        <div class="row">
            <div class="col-sm-4">
                <div class="center-me">
                    <iframe class="circlepic"
                            src="https://api.spotify.com/v1/users/{user_id}"
                            th:src="@{https://api.spotify.com/v1/users/{user_id}}"
                            width="200" height="200" frameborder="0" allowtransparency="true"></iframe>
                    <iframe src="https://embed.spotify.com/?uri=spotify%3Auser%3Aqlmhuge%3Aplaylist%3A6Df19VKaShrdWrAnHinwVO"
                            width="300" height="380" frameborder="0" allowtransparency="true"></iframe>
                </div>
            </div>
            <div class="col-sm-4"></div>
            <div class="col-sm-4">
                <div class="center-me">
                    <iframe class="circlepic"
                            src="https://api.spotify.com/v1/users/{user_id}"
                            th:src="@{https://api.spotify.com/v1/users/{user_id}}"
                            width="200" height="200" frameborder="0" allowtransparency="true"></iframe>
                    <iframe src="https://embed.spotify.com/?uri=spotify%3Auser%3Aqlmhuge%3Aplaylist%3A6Df19VKaShrdWrAnHinwVO"
                            width="300" height="380" frameborder="0" allowtransparency="true"></iframe>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-md-4"></div>
            <div class="col-md-4">
                <div class="center-me">
                    <iframe src="https://embed.spotify.com/?uri=spotify%3Auser%3A1261004164%3Aplaylist%3A3N0zsiDQcbQvE2xz3YIvTu"
                            width="300" height="380" frameborder="0" allowtransparency="true"></iframe>
                    <br/>
                    <input type="text" placeholder="Rename"/>
                    <div>
                        <a href="/saveNewPlaylist" th:href="@{saveNewPlaylist}" class="btn btn-primary">Save</a>

                    </div>
                </div>
            </div>
            <div class="col-md-4"></div>

        </div>
    </div>
</div>
<br/>


<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>

<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
        integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
        crossorigin="anonymous"></script>
</body>
</html>