<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Playlist</title>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous"/>

    <link rel="stylesheet" href="../static/remodal/dist/remodal.css" th:href="@{remodal/dist/remodal.css}"/>
    <link rel="stylesheet" href="../static/remodal/dist/remodal-default-theme.css"
          th:href="@{remodal/dist/remodal-default-theme.css}"/>
    <link rel="stylesheet" href="../static/css/styles.css" th:href="@{css/styles.css}"/>

</head>

<a href="playlist.html" th:href="@{playlist}"></a>
<body class="mosaic">
<div class="container">

    <div class="row">
        <div class="col-sm-4"></div>
        <div class="col-sm-4">
            <h1 class="center-header">Mixed Tape</h1>
        </div>
        <div class="col-sm-4">

        </div>

    </div>
    <!--<div class="row">-->
        <!--<div class="md"></div>-->
        <!--<div class="md">-->
            <!--<div class="center-me">-->
                <!--<form class="email-invite">Email Invite</form>-->

                <!--<div>-->
                    <!--<a class="btn btn-primary">Go!</a>-->
                <!--</div>-->
            <!--</div>-->
        <!--</div>-->
        <!--<div class="md"></div>-->

    <!--</div>-->
    <!--<div class="row">-->
        <!--<div class="col-sm-4">-->
            <!--<form class="center-me" method="get" action="/playlist" th:action="@{playlist}">-->
                <!--<input type="text" name="uri" id="uri" placeholder="Friend's Uri here" th:value="${search.getUri()}"/>-->
                <!--<a href="#modal">?</a>-->
                <!--<div>-->
                    <!--<button href="/playlist" th:href="@{playlist}" type="submit" id="search" name="action" value="search" class="btn btn-primary">Go!</button>-->

                <!--</div>-->
            <!--</form>-->

            <!--<div class="remodal-bg">-->
                <!--<div class="remodal" data-remodal-id="modal">-->

                    <!--<button data-remodal-action="close" class="remodal-close">close</button>-->
                    <!--<a href="instructions.html" th:href="@{instructions}"></a>-->
                    <!--<div class="modal-container">-->
                        <!--<div class="center-header">-->
                            <!--<h1>Instructions</h1>-->
                            <!--<div class="content">   -->
                                <!--<p class="center-me">After looking over this you'll-->
                                    <!--need to click the button  at the bottom to shoot over to your Spotify-->
                                    <!--page. It will open in a separate window so if  you forget what you read,-->
                                    <!--you-->
                                    <!--can easily flip to the other tab. The instructions listed here aren't -->
                                    <!--terribly difficult. If you can manage brushing your teeth on a fairly-->
                                    <!--regular-->
                                    <!--basis, this  should be a cake walk.</p> -->
                            <!--</div>-->

                            <!--<div class="row"> -->
                                <!--<div class="col-md-9">-->
                                    <!--<img th:src="@{images/find-user.png}"-->
                                         <!--src="../static/images/find-user.png" height="100%"-->
                                         <!--width="100%"/>-->
                                <!--</div>-->
                                <!--<div class="col-md-3"> -->
                                    <!--<p class="instruction-font">Choose the friend you want to compare  with -->
                                        <!--by clicking on their  name.</p> -->
                                <!--</div>-->
                            <!--</div>-->
                            <!--<div class="row"> -->
                                <!--<div class="col-md-9">-->
                                    <!--<img th:src="@{images/copy-uri.png}"-->
                                         <!--src="../static/images/copy-uri.png"-->
                                         <!--height="100%" width="100%"/>-->
                                <!--</div>-->
                                <!-- -->
                                <!--<div class="col-md-3">  <p class="instruction-font">Copy your friends Uri by-->
                                    <!--clicking the 3  dots  next to Following  and then clicking Copy Spotify-->
                                    <!--Uri from the dropdown.</p> -->
                                <!--</div>-->
                                <!-- -->
                            <!--</div>-->
                            <!-- -->
                            <!--<div class="row"> -->
                                <!--<p class="instruction-font">When you click on the Go to your-->
                                    <!--profile!  you'll  be directed to your  Spotify home page in a new-->
                                    <!--window.-->
                                    <!--You'll do all the things you were  just instructed to do to get  get a-->
                                    <!--copy-->
                                    <!--of your friends Uri. Then flip back to this page to paste  your Uri in-->
                                    <!--the-->
                                    <!--space provided.  Once pasted, click Go to Spotify and let the fun-->
                                    <!--begin.</p>-->
                                <!-- -->
                            <!--</div>-->
                            <!--<div class="center-me">   <p>  <a onclick="return doStuff();" href="#">Go to-->
                                <!--your profile!</a>  </p>   -->

                            <!--</div>-->
                            <!-- -->
                        <!--</div>-->
                    <!--</div>-->
                <!--</div>-->
            <!--</div>-->
        <!--</div>-->


        <!--<div class="col-sm-4 col-sm-offset-4">-->

            <!--<form class="center-me" method="get" action="/client_credentials"-->
                  <!--th:action="@{client_credentials}">-->
                <!--<div class="center-me">-->
                    <!--<select id="user_id" name="user_id">-->
                        <!--<option>select..</option>-->
                        <!--<option th:each="user: ${users}"-->
                                <!--th:text="${user.getDisplayName}"-->
                                <!--th:value="${user.getId}">-->
                        <!--</option>-->
                    <!--</select>-->
                    <!--<div>-->
                        <!--<a href="/chooseUrl" th:href="@{chooseUrl}" class="btn btn-primary">Go!</a>-->
                    <!--</div>-->
                <!--</div>-->
            <!--</form>-->
        <!--</div>-->
    <!--</div>-->

    <div class="row">
        <div class="col-sm-4">
            <div class="center-me">
                <img class="circlepic"
                        src="../static/images/person-placeholder.jpg"
                        th:src="${imageUrl}"
                        width="200" height="200"/>
                <!--<p>All Your Music</p>-->
                <!--<iframe src="https://embed.spotify.com/?uri=spotify%3Auser%3A1230303078%3Aplaylist%3A2lrzazFNgZKFSeno32xSvK"-->
                        <!--width="300" height="380" frameborder="0" allowtransparency="true"></iframe>-->

            </div>
        </div>
        <div class="col-sm-4"><br/>
            <div class="center-me">
                <!--<img src="../static/images/spin.gif" th:src="@{images/spin.gif}"/>-->
                <p th:text="${newPlaylistName}">New Playlist</p>
                <iframe th:src="${embedPlaylist}" src="https://embed.spotify.com/?uri=spotify%3Auser%3A1261004164%3Aplaylist%3A3N0zsiDQcbQvE2xz3YIvTu"
                        width="300" height="380" frameborder="0" allowtransparency="true"></iframe>
                <br/>
                <p>Your new playlist is playable here if you like. It also appears with your public playlists on your
                Spotify profile page. If you'd like to make some more playlists, click the button below to return to
                the home page.</p>
                <a class="btn btn-primary" th:href="@{'/'}">Go Home!</a>
                <br/><br/><br/>

                <!--<p>Common Playlist</p>-->
                <!--<iframe src="https://embed.spotify.com/?uri=spotify%3Auser%3A1230303078%3Aplaylist%3A2lOi2XOCTPwar2rluxeacr"-->
                        <!--width="300" height="380" frameborder="0" allowtransparency="true"></iframe>-->
                <!--<br/>-->
                <!--<input type="text" placeholder="Rename"/>-->
                <!--<a href="/saveNewPlaylist" th:href="@{saveNewPlaylist}" class="btn btn-primary">Save</a>-->


            </div>
        </div>
        <div class="col-sm-4">
            <div class="center-me">
                <div></div>
                <img class="circlepic"
                        src="../static/images/teamcoco.jpg"
                        th:src="@{${friendImage}}"
                        height="200" width="200"/>
                <!--<p>Friends Public Music</p>-->
                <!--<iframe src="https://embed.spotify.com/?uri=spotify%3Auser%3A1230303078%3Aplaylist%3A5CxpQYFQxM3X5hTUrgTStn"-->
                        <!--width="300" height="380" frameborder="0" allowtransparency="true"></iframe>-->
            </div>
        </div>
    </div>
</div>

<br/>
<div class="container">
    <div class="row">
        <div class="col-md-4"></div>
        <div class="col-md-4">
            <div class="center-me">
                <!--<p th:text="${newPlaylistName}">New Playlist</p>-->
                <!--<iframe th:src="${embedPlaylist}" src="https://embed.spotify.com/?uri=spotify%3Auser%3A1261004164%3Aplaylist%3A3N0zsiDQcbQvE2xz3YIvTu"-->
                        <!--width="300" height="380" frameborder="0" allowtransparency="true"></iframe>-->
                <br/>
                <!--<form th:action="@{playlist}" action="playlist.html" method="post">-->
                    <!--<input type="text" th:placeholder="${newPlaylistName}"/>-->
                    <!--<button type="submit" class="btn btn-primary" id="rename" value="rename" name="action" href="/playlist" th:href="@{playlist}">Save</button>-->
                <!--</form>-->

            </div>
        </div>
        <div class="col-md-4"></div>

    </div>
</div>


<br/>

<!--<script th:inline="javascript">-->
    <!--function doStuff() {-->


        <!--setTimeout(function () {-->
            <!--var currentUser = /*[[${userId}]]*/ 'user';-->
            <!--window.location.href = "spotify:user:" + currentUser;-->
        <!--}, 1);-->

        <!--return false;-->
    <!--}-->

<!--</script>-->
<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>

<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
        integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
        crossorigin="anonymous"></script>

<!--<script src="../static/remodal/dist/remodal.js" th:src="@{remodal/dist/remodal.js}"></script>-->
</body>

</html>