<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Title</title>
    <link rel="stylesheet" href="../static/css/styles.css" th:href="@{css/styles.css}"/>

    <style type="text/css">

        #login, #loggedin {
            display: none;
        }
        .text-overflow {
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
            width: 500px;
        }
    </style>

</head>
<body>
<!--/*@thymesVar id="user" type="com.wrapper.spotify.models.User"*/-->
<!--/*@thymesVar id="track" type="com.wrapper.spotify.models.Track"*/-->
<!--/*@thymesVar id="image" type="com.wrapper.spotify.models.Image"*/-->
<!--/*@thymesVar id="service" type="com.theironyard.service.UserService"*/-->

    <div>Name:<div th:text="${user.getDisplayName()}">Fred</div></div><br/>
    <div>Image:<img th:src="${imageUrl}" /></div><br/>
    <div>ID: <div th:text="${user.getId()}">404</div></div><br/>
    <div>Image: <div th:text="${user.getImages()}">Image?</div></div><br/>
    <div>Followers: <div th:text="${user.getFollowers()}">4</div></div><br/>
    <div>Product: <div th:text="${user.getProduct()}">Open</div></div><br/>
    <div>Country: <div th:text="${user.getCountry()}">Open</div></div><br/>
    <div>Email: <div th:text="${user.getEmail()}">Open</div></div><br/>
    <div>External URL: <div th:text="${user.getExternalUrls()}">Open</div></div><br/>
    <div>Get track: <div th:text="${user.getDisplayName()}">Open</div></div><br/>

    <br/>

    <div>Number of tracks:</div>
    <div th:text="${numberOfTracks}">Number of Tracks</div>

    <br/>

    <div>Request:</div>
    <div th:text="${something}">uid #</div>

    <br/>

    <div>New Playlist ID:</div>
    <div th:text="${newPlaylistId}">playlist #</div>

    <br/>

    <div>
        <ol>
            <li th:each="track : ${friendTracks}" th:text="${track}">Song ID</li>
        </ol>
    </div>
    <div>
        <iframe src="https://embed.spotify.com/?uri=spotify%3Auser%3Aqlmhuge%3Aplaylist%3A6Df19VKaShrdWrAnHinwVO" width="500" height="440" frameborder="0" allowtransparency="true"></iframe>
        <iframe src="https://embed.spotify.com/?uri=spotify%3Auser%3A1254755551%3Aplaylist%3A2S2qPxV36UcoqLjn9w4EIH" width="300" height="380" frameborder="0" allowtransparency="true"></iframe>
    </div>
</body>
</html>